*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.main-title{
    font-size: 48px;
    padding: 10px;
}
.sub-title{
    font-size: 24px;
    font-style: italic;
}
#button-container{
    margin: 15px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
#button-container button{
    flex: 1;
}
button{
    padding: 8px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #8cff69;
    font-weight: 800;
}
#results-container{
    margin: 15px;
}
#score{
    font-size: 20px;
    font-weight: 600;
}
#game-winner{
    font-size: 24px;
    font-weight: 800;
}